canvas {
	border: 1px solid #000000;
	background-image: url("../images/Landscape.jpg");
	overflow: auto;
}
#div-info {
	/*border: solid;*/
	float: right;
	width: auto;
	max-width: 30%;
	height: auto;
	background-color: gray;
	/*color: white;*/
	float: left;
	display: inline-block;
	font: 15px Verdana;
}
#infoElevator {
	/*border: 1px solid;*/
	float: left;
	width: auto;
	height: 100%;
}
#infoPerson {
	/*border: 1px solid;*/
	/*float: right;*/
	width: auto;
	height: auto;
}
#div-canvas {
	width: auto;
	height: auto;
	float: left;
	
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	/*overflow: hidden*/
}

main{
    display: block;
}
